<div class="container-poc">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>


  <table>
    <tr ng-repeat="todo in main.todos">
      <td>
        [
          <a ng-click="main.removeTodo(todo)">Remove </a> |
          <a ng-click="main.editTodo(todo)">Edit</a>
        ]
      </td>
      <td>
        {{todo.title}}
      </td>
      <td>
        <input type="checkbox" ng-model="todo.done" />
      </td>
    </tr>
  </table>

  <div>
    <form ng-model="main.newTodo" ng-submit="main.saveTodo(main.newTodo)">
      <label>Title</label>
      <input id="title" type="text" ng-model="main.newTodo.title" />

      <button type="submit">Save</button>
    </form>
  </div>
</div>
